<!-- main to do list template -->
<%- include("header"); %>
    <div class="box">
      <!-- heading -->
        <h1 id="heading"> <%= listTitle  %></h1>
    </div>
    <div class="box">
      <!-- list items -->
      <% for(let i = 0; i < newListItems.length; i++){ %>
        <div class="item">
          <input type="checkbox" />
          <!-- get list items from server -->
          <p><%= newListItems[i] %></p>
        </div>
      <% } %>
      <!-- form to send input to server -->
      <form class="item" action="/" method="post">
        <!-- user input -->
        <input type="text" name="newItem" placeholder="New Item" autocomplete="off"/>
        <!-- submit to server button -->
        <button type="submit" name="list" value=<%= listTitle %>>+</button>
      </form>
    </div>
<%- include("footer"); %>
